extends layout
block content
        h1 Create a new chatroom

        form(method="post")
                fieldset.form-group
                        label(for="name") Name:
                        input.form-control(name="name", type="text", placeholder="Enter a name")
                        small.text-muted Give your chat a meaningful name!
                button.btn.btn-primary(type="submit") Create
                a.btn.btn-primary(href="/admin/rooms") Cancel