doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/img/favico.png')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    title= title
  body
    div(id='root') 
    script(src="https://unpkg.com/react@16/umd/react.development.js",type="text/javascript")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js",type="text/javascript")
    script(src="/dist/bundle.js",type="text/javascript")
