@import url(normalize.css);
@import url(reset.css);
@import url(grid.css);
@font-face {
    font-family: HelveticaNeue; /* Имя шрифта */
    src: url("fonts/HelveticaNeueCyr-Medium.otf"); /* Путь к файлу со шрифтом */
   }

body {     
    font-family: HelveticaNeue;
    font-size:1rem;
    height: 100%;
    background-color: #3a3e3b;
    color: #ffffff;
}

header {
    width: 100%;
    height: 4.3rem;
    background-color: #040f0f;
    display: flex
}

.logo {
    display: flex;
    flex-direction: row;
    margin-left: 3%;    
}

h1 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    font-weight: 300;
    
}

.img{
    background-image: url('../img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 2.9rem;
    height: 2.7rem;
    display: -block;
    margin: auto;
}

.fit {
    color: #ff1053;
}

.usr {
    flex-direction: row-reverse;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin:auto;
    margin-right: 10%;
}

.exit-btn {
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
    margin-left: 20%;
}

.main-menu {
    display: inline-block;
    background-color: #20232a;
    width: 25%;
    height: 100vh;
    font-size: 1.1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 100;
}

.menu-list {
    padding: 10% 10%;
}

.menu-icon {
    width: 2.6rem;
    height: 2.2rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 5%;
    background-position: center;
}

.menu-list li{
    line-height: 2.2rem;
    vertical-align: middle;
    cursor: pointer;
}

.content {
    display: inline-block;
    width: 75%;
    padding: 2%;
    vertical-align: top;
}
.buttons {
    display: inline-block;
    width: 15%;
    height: 2.2rem;
    object-fit:contain;
    background-color: #ffffff;
    color: #3a3e3b; 
    line-height: 2.2rem;
    font-size: 0.75rem;
    vertical-align: middle;
    border-radius: 2px;
}

.calendar-nav .buttons span {
    display: inline-block;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.buttons .chosen {
    color: #ff1053;
}

.paginator {
    display: inline-block;
    width: 55%; 
    text-align: center;
    font-size: 1.26rem;
    font-weight: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);   
}

.month-calendar-header {
    width: 75%;
    height: 2rem;
    object-fit:contain;
    background-color: #ffffff;
    color: #3a3e2b; 
    margin-top: 1rem;
}

.weekDay-item {
    display: inline-block;
    width: calc(100%/7);
    vertical-align: middle;
    line-height: 2.2rem;
    font-size: 0.75rem;
    text-align: center;
}

.month-arrow  {
    cursor: pointer;
}

.month-body {
    margin-top: 1%;
    width: 75%;
}

.month-body .day {
    float: left;
    width: 14.05%;
    height: 7.5rem;
    background-color: #ffffff;
    display: inline-block;
    margin: 0.1%;
    padding: 1%;
    color: #040f0f;
    font-size: 1.125rem;
    text-align: right;
}

.month-body .firstDay-1 {
    margin-left: calc(100%/7);
}

.month-body .firstDay-2 {
    margin-left: calc(100%/7*2);
}

.month-body .firstDay-3 {
    margin-left: calc(100%/7*3);
}

.month-body .firstDay-4 {
    margin-left: calc(100%/7*4);
}

.month-body .firstDay-5 {
    margin-left: calc(100%/7*5);
}

.month-body .firstDay-6 {
    margin-left: calc(100%/7*6);
}

.event-list {
    object-fit: contain;
}

.event-name {
    display: block;
    font-size: 0.625rem;
    font-weight: 500;
    background-color: #d8d8d8;
    height: 20%;
    text-align: left;
    padding: 5%;
    margin-top: 5%;
}

.has-event span{
    display: inline-block;
    background-color: #979b8d;
    color: #ffffff;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    line-height: 1.7rem;
    text-align: center
}

.has-event {
    cursor: pointer;
}

.event-list .dots {
    color: #ff1053;
    line-height: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.day-details {
    background-color: #ffffff;    
    color: #3a3e3b; 
    padding: 1.5%;
    margin-left: 75%;
    margin-top: 1.1%;
    text-align: center;
    font-size:0.875rem;
}

.day-details .date {
    border-bottom: 2px solid #979b8d;
    line-height: 1rem;
    vertical-align: middle;
}

.add-training {
    margin-top: 5%;
    text-align: left;
    line-height: 1.7rem;
    vertical-align: middle;
    cursor: pointer;
}

.plus {
    color: #ff1053;
    font-size: 2rem;
}

.training-item {
    text-align: left;
    border-top: 2px solid #979b8d;
    padding-top: 7%;
    padding-bottom: 7%;
}

.exercise-list {
    margin-left: 7%;
    line-height: 1.5rem;
}

.clent-name {
    line-height: 1.5rem;
    font-size: 1.1rem;
    vertical-align: middle;
}

.settings-icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 65%;
    cursor: pointer;
}

