.add_btn {
  width: 200px;
  height: 32px;
  border-radius: 2px;
  background-color: #ff1053;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
