.mainMenu {
  background-color: #20232a;
  width: 25%;
  height: 100vh;
  font-size: 1.1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 100;
}

.menuList {
  list-style-type: none;
}

.menuIcon {
  width: 40px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5%;
  background-position: center;
}

.menuList li {
  line-height: 35px;
  margin-bottom: 8px;
  cursor: pointer;
}

.menuItem {
  text-decoration: none;
  color: white;
  display: flex;
}
