.mainMenu {
  background-color: #20232a;
  width: 25%;
  height: 100vh;
  font-size: 1.1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 100;
}

.menuList {
  padding: 10% 10%;
  list-style-type: none;
}

.menuIcon {
  width: 2.6rem;
  height: 2.2rem;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5%;
  background-position: center;
}

.menuList li {
  line-height: 2.2rem;
  vertical-align: middle;
  cursor: pointer;
}

.menuItem {
  text-decoration: none;
  color: white;
}
